* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  border: solid black 1px;
  min-height: 5rem;
  background-color: #ccc;
}
main {
  border: solid red 1px;
  flex: auto;
  display: flex;
  justify-content: center;
}
.container-btn-add-book {
  margin: 1rem;
}
footer {
  min-height: 5rem;
  color: white;
  background-color: black;
}

h1 {
  text-decoration: underline;
}
