* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  border: solid black 1px;
  min-height: 5rem;
  background-color: #ccc;
}
h1 {
  text-decoration: underline;
}
main {
  border: solid red 1px;
  flex: auto;
  display: flex;
  flex-direction: column;
}
.container-btn-add-book {
  margin: 1rem;
  align-self: center;
  border: solid green 1px;
}
.container-cards {
  border: solid blue 1px;
  flex: auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 250px));
  gap: 2em;

  /* 
    Flex Variation | Might be better
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
  */
}
footer {
  min-height: 5rem;
  color: white;
  background-color: black;
}

.card-book {
  border: solid orange 2px;
  border-radius: 8%;
  display: grid;
  grid-template-rows: 3fr 1fr;

  /* Flex Variation
    height: 250px;
    width: 300px;
  */
}
.card-inner-top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
}
.card-inner-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
