* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  border-bottom: solid black 1.5px;
  min-height: 6rem;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
  background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
}
h1 {
  text-decoration: underline;
}
main {
  flex: auto;
  display: flex;
  flex-direction: column;
  background-color: #701e00;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}
.container-btn-add-book {
  margin: 1rem;
  align-self: center;
}
#btn-add-book {
  border: none;
  font-size: 1em;
  border-radius: 5px;
  color: white;
  background: orange;
  padding: 15px 20px;
  cursor: pointer;
}
.container-cards {
  flex: auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 250px));
  gap: 2em;

  /* 
    Flex Variation | Might be better
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
  */
}
.card-book {
  border: solid orange 5px;
  background-color: whitesmoke;
  border-radius: 8%;
  display: grid;
  grid-template-rows: 3fr 1fr;

  /* Flex Variation
    height: 250px;
    width: 300px;
  */
}
.card-inner-top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
}
.card-inner-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formPopup {
  display: none;
  position: fixed;
  text-align: center;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 5%);
  border: 4px solid #a2a2a2;
  z-index: 2;
}
.new-book-form {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}
.new-book-form input[type="text"],
.new-book-form input[type="number"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}
.new-book-form input[type="text"]:focus,
.new-book-form input[type="number"]:focus {
  background-color: #ddd;
  outline: none;
}
.form-button {
  padding: 12px 20px;
  font-size: 1em;
  border: none;
  background-color: #ffa500;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.red {
  background-color: #d70101;
  margin-top: 0px;
}

.btn-remove-book {
  padding: 12px;
  font-size: 1em;
  border: none;
  background-color: brown;
  color: #fff;
  cursor: pointer;
  width: 80%;
  margin-bottom: 0.5em;
  border-radius: 10px;
}
.btn-remove-book:hover {
  background-color: red;
  transition: 0.4s;
}
.orange {
  background-color: #f87217;
}
.orange:hover {
  background-color: #ff3f00;
}

footer {
  min-height: 5rem;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
